@mixin h {
  overflow: hidden!important;
  display: -webkit-box!important;
  -webkit-box-orient: vertical!important;
  white-space: initial!important;
  word-break: break-word!important;
}
// 限制文本行数

@for $i from 1 through 4 {
  .h-#{$i}x { -webkit-line-clamp: #{$i}; @include h;}
}

//html, body, div, span, header, footer, section, article, a, img {
//  font-family: 'Nunito', 'product sans', sans-serif !important;
//}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  // border-left: 1px solid rgba(128, 128, 128, 0.18);
  height: 10px;
  background: var(--v-background-base);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--v-primary-base);
}

.drag-area {
  -webkit-app-region: drag;
}
.no-drag-area {
  -webkit-app-region: no-drag;
}

.lottie-icon path,
[role='button']:active .lottie-icon path,
[role='button']:focus .lottie-icon path,
[role='button']:hover .lottie-icon path,
a:active .lottie-icon path,
a:focus .lottie-icon path,
a:hover .lottie-icon path,
button:active .lottie-icon path,
button:focus .lottie-icon path,
button:hover .lottie-icon path {
  fill: currentColor;
}

// override dialog border style
.v-dialog {
  border-radius: 0.5rem !important;
  border: 1px solid var(--v-surfaceVariant-base) !important;
}

.v-tabs-slider {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.v-skeleton-loader .v-skeleton-loader__avatar,
.v-skeleton-loader .v-skeleton-loader__button,
.v-skeleton-loader .v-skeleton-loader__chip,
.v-skeleton-loader .v-skeleton-loader__divider,
.v-skeleton-loader .v-skeleton-loader__heading,
.v-skeleton-loader .v-skeleton-loader__image,
.v-skeleton-loader .v-skeleton-loader__text {
  background: var(--v-surfaceVariant-base) !important;
}
