$playerbarHeight: 66px;
$contentWidth: calc(100% - 18%);
$toolbarHeight: 68px;

$body-font-family: Google Sans,arial,sans-serif;
$navigation-drawer-border-width: 0px;
// $list-nav-border-radius: 3.5rem;
$list-item-dense-title-font-size: 0.875rem;
$list-item-dense-title-line-height: 1.25rem;
$list-item-action-icon-margin: 14px;
$list-group-nav-no-action-item-padding: 16px;

//$dialog-border-radius: 30px;

$border-radius-root: 0.25rem;
$rounded: (
  0: 0,
  'sm': $border-radius-root / 2,
  null: $border-radius-root,
  'lg': $border-radius-root * 2,
  'xl': $border-radius-root * 3,
  'pill': 9999px,
  'circle': 50%
);
